Source: ecell
Section: contrib/science
Priority: extra
Maintainer: Moriyoshi Koizumi <mozo@sfc.keio.ac.jp>
Build-Depends: debhelper (>= 5), autotools-dev, build-essential,
    python2.5, libboost-dev (>= 1.33.0), libboost-python-dev (>= 1.33.0),
    libgsl0-dev (>=1.8), python-numpy-dev (>=1.0.1), docbook-utils
Standards-Version: 3.7.2

Package: ecell3
Architecture: any
Section: contrib/science
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: E-Cell System is an object-oriented software suite for modeling,
 simulation, and analysis of large scale complex systems, particularly focused
 on biological details of cellular behavior.

Package: ecell3-model-editor
Architecture: any
Section: contrib/science
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: E-Cell System is an object-oriented software suite for modeling,
 simulation, and analysis of large scale complex systems, particularly focused
 on biological details of cellular behavior.

Package: ecell3-session-monitor
Architecture: any
Section: contrib/science
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: E-Cell System is an object-oriented software suite for modeling,
 simulation, and analysis of large scale complex systems, particularly focused
 on biological details of cellular behavior.

Package: ecell3-tool-launcher
Architecture: any
Section: contrib/science
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: E-Cell System is an object-oriented software suite for modeling,
 simulation, and analysis of large scale complex systems, particularly focused
 on biological details of cellular behavior.

Package: ecell3-dev
Architecture: any
Section: contrib/devel
Description: E-Cell System is an object-oriented software suite for modeling,
 simulation, and analysis of large scale complex systems, particularly focused
 on biological details of cellular behavior.

Package: ecell3-doc
Architecture: all
Description: Documentation for E-Cell System

Package: ecell3-samples
Architecture: all
Description: Sample models for E-Cell System

